body {
  background-color: #272b30;
}
::-webkit-scrollbar {
  height: 10px;
}
::-webkit-scrollbar-track{
  background: rgb(0, 0,0, 0.6);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(218, 215, 215);
  border-radius: 10px;
}
#cardImg {
  height: 100%;
  object-fit: cover;
}
header img {
  max-height: 30vh;
  object-fit: cover;
}
.card {
  cursor: pointer;
}
.navbar {
  background-color: rgb(123, 58, 58) !important;
  box-shadow: 0 0 10px 6px rgb(0 0 0 / 0.7) !important;
}
.navbar a {
  transition: all 0.4s ease-in-out;
  font-weight: bolder;
  text-shadow: 2px 2px 15px black;
}
.navbar a:hover {
  color: black !important;
}
.navLogo {
  max-width: 40px;
}
.active {
  color: #000000 !important;
}
.card {
  transition: all 0.4s ease-in-out;
  filter: grayscale(0.7);
  background-color: #272b30;
  color: white;
  box-shadow: #000000 0 0 20px 1px;
}

.card:hover {
  scale: 1.04;
  filter: grayscale(0);
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-radius: 50%;
  display: flex;
  box-sizing: border-box;
  position: fixed;
  animation: pulse 1s linear infinite;
  align-self: center;
  justify-self: center;
  inset: 0;
  z-index: 3;
}
.loader:after {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% { transform: translate(-50%, -50%) scale(0) }
  60% , 100% { transform: translate(-50%, -50%)  scale(1)}
}
@keyframes pulse {
  0% , 60% , 100%{ transform:  scale(1) }
  80% { transform:  scale(1.2)}
}
